body{
    background-color: skyblue;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
}

#score_id{
    position: absolute;
    left: 10px;
    top: 0px;
}

#level_id{
    position: absolute;
    left: 10px;
    top: 20px;
}

#gameOver{
    display: none;
    position: absolute;
    top: 0px;
    left: 0px;
}

.buttons{
    -webkit-user-select: none;
    user-select: none;
    display: none;
    border: 1px solid blue;
    width: 100px;
    height: 100px;
    font-size: 20px;
    position: absolute;
    bottom: 0px;
    right: 0px;
}

#buttonUp{
    right: 110px;
    bottom: 100px;
}

#buttonDown{
    right: 110px;
}

#buttonLeft{
    right: 210px;
    bottom: 100px;
}

#buttonRight{
    right: 10px;
    bottom: 100px;
}

#game{
    display: none;
}

#mainmenu{
    display: block;
    margin: 0px;
}

#switchToGame{
    position: absolute;
    border: 1px solid black;
}

#mainmenu button{
    width: 100px;
}

#reset{
    border: 2px solid purple;
    background-color: blueviolet;
}

#difficulties{
    display: none;
}

#controlsmenu{
    display: none;
}

#back{
    display: none;
    position: absolute;
    bottom: 0px;
}

#discord{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100px;
}